:root {
  --yellow: #F5AF44;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* border: 1px dashed gray; */
}

body, input, textarea, button {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: cornflowerblue;
}

header {
  height: 50px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 10px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo-container {
  height: 50px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.logo-container:hover {
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo-name {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--yellow);
}

.search-bar {
  height: 50px;
  width: 40%;
  display: flex;
  align-items: center;
}

.search-bar>* {
  height: 30px;
}

.search-input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.search-input:focus {
  outline-color: cornflowerblue;
}

.search-button {
  background-color: white;
  color: gray;
  aspect-ratio: 1/1;
  padding: 0;
  border: none;
}

.search-button:first-of-type {
  background-color: lightgray;
  color: black;
  border: 1px solid darkgray;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.search-button:hover {
  cursor: pointer;
  color: dimgray;
}

.header-panel {
  height: 40px;
  margin-right: 10px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header-panel-icon {
  color: gray;
  padding: 5px;
  margin-left: 15px;
}

.header-panel-icon:hover {
  color: dimgray;
  cursor: pointer;
}

.dropdown {
  position: relative;
  background-color: var(--yellow);
  color: black;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  background-color: white;
  padding: 0;
  border: 1px solid gray;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  right: 0;
  min-width: 150px;
  list-style: none;
  z-index: 1;
}

.dropdown-content-item {
  color: black;
  padding: 5px 10px;
  border-bottom: 1px solid gray;
}

.dropdown-content-item:last-child {
  color: crimson;
  border-bottom: none;
}

.dropdown-content-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

.dropdown-content-item-text {
  padding-left: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

aside {
  width: 240px;
  height: calc(100% - 50px);
  position: fixed;
  background-color: rgb(235, 235, 235);
}

.streamer-list {
  height: calc(100% - 140px);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: auto;
}

.streamer {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.streamer:hover {
  background-color: lightgray;
  cursor: pointer;
}

.streamer-info {
  display: flex;
  align-items: center;
}

.streamer-image {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.streamer-image:hover {
  cursor: pointer;
}

.streamer-name {
  padding-left: 10px;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.streamer-name:hover {
  color: cornflowerblue;
}

.streamer-online {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blob {
  background: crimson;
  border-radius: 5px;
  height: 7px;
  width: 7px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 4px rgba(220, 20, 60, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(220, 20, 60, 0);
  }
}

.streamer-online-num {
  padding-left: 10px;
}

.info-block-wrapper {
  height: 140px;
  padding: 20px;
  border-top: 2px solid white;
}

.info-block {
  height: 100%;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.info-block>*::selection {
  background-color: var(--yellow);
  color: white;
}

.info-icons>* {
  padding: 5px;
}

.info-icons>*:hover {
  color: cornflowerblue;
  cursor: pointer;
}

nav {
  height: 50px;
  padding: 10px 5px 5px 5px;
  margin-left: 240px;
  display: flex;
  align-items: stretch;
  overflow: auto;
}

nav>.category {
  padding: 5px 15px;
  margin: 0 10px;
  background-color: gainsboro;
  color: black;
  border: 1px solid gray;
  border-radius: 20px;
  white-space: nowrap;
}

nav input[type="radio"] {
  display: none;
}

nav input[type="radio"]:checked+label {
  background-color: var(--yellow);
  color: white;
  border-color: var(--yellow);
  outline: none;
  cursor: default;
}

nav>.category:hover {
  background-color: lightgray;
  cursor: pointer;
}

main {
  margin-left: 240px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px 10px;
  padding: 30px 0;
  margin: 0 20px;
}

.card-top {
  position: relative;
  text-align: center;
}

.card-image {
  aspect-ratio: 16/9;
  width: 100%;
  min-width: 300px;
}

.card-image-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease;
}

.card-top:hover .card-image-overlay {
  opacity: 1;
  cursor: pointer;
}

.card-duration {
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 0.7em;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info {
  display: flex;
  align-items: center;
}

.card-details {
  margin-left: 10px;
}

.card-details-name {
  font-weight: bold;
}

.card-details-streamer {
  font-size: 0.8em;
  color: gray;
}

.card-details-name:hover, .card-details-streamer:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.card-settings:hover {
  color: dimgray;
  cursor: pointer;
}

footer {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  padding-left: 10px;
}

@media (max-width: 1200px) {
  aside {
    width: 50px;
  }
  .streamer-list {
    height: 100%;
  }
  .streamer-name, .streamer-online, .info-block {
    display: none;
  }
  nav, main {
    margin-left: 50px;
  }
}